{% extends 'base.html' %}
{% load static %}

{% block title %}Contacts{% endblock %}

{% block content %}
    <main class="section ">
        <div class="container">
            
            <h1 class="title-1">Contanct</h1>

            <ul class="content-list">
                <li class="content-list__item">
                    <h2 class="title-2">Location</h2>
                    <p>Uzhorod, Ukraine</p>
                </li>
                <li class="content-list__item">
                    <h2 class="title-2">Telegram / WhatsApp</h2>
                    <p><a href="tel:+380984615724">+380-98-461-57-24</a></p>
                </li>
                <li class="content-list__item">
                    <h2 class="title-2">Email</h2>
                    <p><a href="mailto:bolshoygrizli@gmail.com">bolshoygrizli@gmail.com</a></p>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}