{% extends 'base.html' %}
{% load static %}

{% block title %}Project{% endblock %}

{% block content %}
    <main class="section ">
        <div class="container">
            <div class="project-detailes">
            <h1 class="title-1">Video service</h1>
            <img src="static/img/project/02-big.jpg" alt="" class="project-detailes__cover">
            <div class="project-detailes__desc">
                <p>Skills: React, Node.js, MongoDB</p>
            </div>
            <a class="btn-outline" href="#!">
                <img src="static/img/icon/gitHub-black.svg" alt="">
                GitHub repo
            </a>

        </div>
        </div>
    </main>
{% endblock %}