{% extends 'base.html' %}
{% load static %}

{% block title %}Skills{% endblock %}

{% block content %}
    <main class="section ">
        <div class="container">
            <h1 class="title-1">Skills</h1>

            <ul class="content-list">
                <h2 class="title-2">Frontend</h2>
                <li class="content-list__item">
                    <p>
                        JavaScript, TypeScript, ReactJS, Angular, Redux, HTML, CSS, NPM,<br> BootStrap, MaterialUI, Yarn, TailwindCSS, StyledComponents
                    </p>
                </li>
                <li class="content-list__item">
                    <h2 class="title-2">Backend</h2>
            <p>NodeJS, MySQL, MongoDB, PHP, Laravel, Python, Django, Flask</p>
                </li>
            </ul>

        </div>
    </main>
{% endblock %}